/* Write your styles */

.am-navbar-nav .am-active {
  background: rgb(24, 104, 144);
}

.feed-header, .feed-reply-header{
  /*padding-bottom: .5rem;*/
}
.feed-portrait, .feed-reply-portrait, .profile-portrait, .dating-portrait{
  display: inline-block;
  width: 4.5rem;
  height: auto;
  margin-right: .5rem;
}
.feed-info,.feed-reply-info, .profile-info, .dating-info{
  display: inline-block;
}
.feed-thumb{
  width: auto;
  max-height: 10rem;
  margin-bottom: .5rem;
}
.feed-content, .feed-reply-content, .dating-content{
  margin-bottom: .5rem;
  text-overflow: initial;
  -webkit-line-clamp: initial;
  max-height: initial;
}
.feed-origin{
  margin-bottom: .5rem;
  padding: .5rem;
}


